In [36]:
import numpy as np
import pandas as pd
from scipy import stats

In [37]:
df = pd.read_csv('rgb_new.csv')   # read our dataset
df.head()

    R    G    B   RL   GL    BL  R(Red)  G(Green)  B(Blue)
0   1  118  128  239  571   834     123       816     1305
1   8  128  142  280  665   983     140       689      795
2  35   64   88  201  319   502     105       663     1230
3  40  158  196  392  955  1652     211      1046      885
4  47   61   76  217  336   497      73       791     1125

In [38]:
df.corr(method = 'pearson')

,R,G,B,RL,GL,BL,R(Red),G(Green),B(Blue)
R,1.000000,0.502334,0.097670,0.923768,0.580896,0.362886,0.753690,0.802623,0.775751
G,0.502334,1.000000,0.580689,0.645451,0.961380,0.795038,0.420545,0.444800,0.294934
B,0.097670,0.580689,1.000000,0.227567,0.553992,0.899076,0.277709,0.238610,0.112592
RL,0.923768,0.645451,0.227567,1.000000,0.736055,0.519279,0.811284,0.829088,0.800069
GL,0.580896,0.961380,0.553992,0.736055,1.000000,0.826091,0.513902,0.518719,0.334055
BL,0.362886,0.795038,0.899076,0.519279,0.826091,1.000000,0.456119,0.421492,0.249614
R(Red),0.753690,0.420545,0.277709,0.811284,0.513902,0.456119,1.000000,0.729164,0.696478
G(Green),0.802623,0.444800,0.238610,0.829088,0.518719,0.421492,0.729164,1.000000,0.766617
B(Blue),0.775751,0.294934,0.112592,0.800069,0.334055,0.249614,0.696478,0.766617,1.000000

In [40]:
df.corr(method = 'spearman')

,R,G,B,RL,GL,BL,R(Red),G(Green),B(Blue)
R,1.000000,0.406851,0.047472,0.944677,0.536421,0.457639,0.825885,0.833191,0.792860
G,0.406851,1.000000,0.475742,0.599651,0.969508,0.827475,0.473603,0.462884,0.283866
B,0.047472,0.475742,1.000000,0.264380,0.467045,0.800697,0.291934,0.220514,0.123581
RL,0.944677,0.599651,0.264380,1.000000,0.719235,0.689222,0.877426,0.844136,0.766668
GL,0.536421,0.969508,0.467045,0.719235,1.000000,0.859122,0.601621,0.585797,0.380238
BL,0.457639,0.827475,0.800697,0.689222,0.859122,1.000000,0.616101,0.562090,0.419858
R(Red),0.825885,0.473603,0.291934,0.877426,0.601621,0.616101,1.000000,0.726609,0.620532
G(Green),0.833191,0.462884,0.220514,0.844136,0.585797,0.562090,0.726609,1.000000,0.740984
B(Blue),0.792860,0.283866,0.123581,0.766668,0.380238,0.419858,0.620532,0.740984,1.000000

In [41]:
df.corr(method = 'kendall')

,R,G,B,RL,GL,BL,R(Red),G(Green),B(Blue)
R,1.000000,0.282172,0.030606,0.814792,0.374938,0.307973,0.639737,0.661148,0.614578
G,0.282172,1.000000,0.390820,0.458394,0.881103,0.624143,0.344474,0.346541,0.196242
B,0.030606,0.390820,1.000000,0.187027,0.370331,0.663173,0.181077,0.147407,0.096075
RL,0.814792,0.458394,0.187027,1.000000,0.549157,0.489535,0.691100,0.662386,0.577598
GL,0.374938,0.881103,0.370331,0.549157,1.000000,0.683324,0.426744,0.421380,0.256561
BL,0.307973,0.624143,0.663173,0.489535,0.683324,1.000000,0.418361,0.366001,0.306529
R(Red),0.639737,0.344474,0.181077,0.691100,0.426744,0.418361,1.000000,0.559884,0.433821
G(Green),0.661148,0.346541,0.147407,0.662386,0.421380,0.366001,0.559884,1.000000,0.550924
B(Blue),0.614578,0.196242,0.096075,0.577598,0.256561,0.306529,0.433821,0.550924,1.000000

In [39]:
red_rl = stats.spearmanr(df["R"],  df["RL"])
red_rred = stats.spearmanr(df["R"],  df["R(Red)"])
green_gl = stats.spearmanr(df["G"],  df["GL"])
green_ggreen = stats.spearmanr(df["G"],  df["G(Green)"])
blue_bl = stats.spearmanr(df["B"],  df["BL"])
blue_bblue = stats.spearmanr(df["B"],  df["B(Blue)"])
print("R/Rl", red_rl.statistic)
print("G/GL", green_gl.statistic)
print("B/Bl", blue_bl.statistic)
print()
print("R/R(Red)", red_rred.statistic)
print("G/G(Green)", green_ggreen.statistic)
print("B/B(Blue)", blue_bblue.statistic)

R/Rl 0.9446769472537394
G/GL 0.9695080029403543
B/Bl 0.800697254409123

R/R(Red) 0.8258845573870119
G/G(Green) 0.46288405514968206
B/B(Blue) 0.12358092929308447

In [26]:
red_rl = stats.pearsonr(df["R"],  df["RL"])
red_rred = stats.pearsonr(df["R"],  df["R(Red)"])
green_gl = stats.pearsonr(df["G"],  df["GL"])
green_ggreen = stats.pearsonr(df["G"],  df["G(Green)"])
blue_bl = stats.pearsonr(df["B"],  df["BL"])
blue_bblue = stats.pearsonr(df["B"],  df["B(Blue)"])
print("R/Rl", red_rl.statistic)
print("G/GL", green_gl.statistic)
print("B/Bl", blue_bl.statistic)
print()
print("R/R(Red)", red_rred.statistic)
print("G/G(Green)", green_ggreen.statistic)
print("B/B(Blue)", blue_bblue.statistic)

R/Rl 0.9237683464437878
G/GL 0.9613802959741793
B/Bl 0.8995647972704864

R/R(Red) 0.7536896362253164
G/G(Green) 0.44479972396986345
B/B(Blue) 0.11224110887274563

In [27]:
red_rl = stats.kendalltau(df["R"],  df["RL"])
red_rred = stats.kendalltau(df["R"],  df["R(Red)"])
green_gl = stats.kendalltau(df["G"],  df["GL"])
green_ggreen = stats.kendalltau(df["G"],  df["G(Green)"])
blue_bl = stats.kendalltau(df["B"],  df["BL"])
blue_bblue = stats.kendalltau(df["B"],  df["B(Blue)"])
print("R/Rl", red_rl.statistic)
print("G/GL", green_gl.statistic)
print("B/Bl", blue_bl.statistic)
print()
print("R/R(Red)", red_rred.statistic)
print("G/G(Green)", green_ggreen.statistic)
print("B/B(Blue)", blue_bblue.statistic)

R/Rl 0.81479155209646
G/GL 0.8811034663506891
B/Bl 0.6701785434682281

R/R(Red) 0.6397373572173887
G/G(Green) 0.3465410539311049
B/B(Blue) 0.09841842967266852